.inputAjout {
    width: 80%;
    height: 40px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
    border: 2px solid red;
}

.divs{
    height:250px;
    width :300px;
    border: 4px solid green;
    border-radius: 6px;
    background-color: red;
}

.buttons{
    background-color:  green;
    border-radius: 10px;
    border:none;
    color:white;
    font-size:medium;
    margin-top: auto;
  }

  .inputs, .paragraphs{
    color:aliceblue;
    background-color: rgb(156, 219, 255);
}

.bd{
    background-image: url('bgmaroc.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}